body {
            background-color:rgb(180, 231, 214);
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
        h1 {
            color:rgb(240, 194, 179)
        }